pip>=24.0
numpy>=1.21,<1.26
PyPDF2>=3.0.0
langchain>=0.1.0
pysqlite3-binary>=0.5.2  # Ensures SQLite3 is up-to-date
chromadb>=0.4.0
langchain-huggingface
streamlit>=1.20
groq
langchain-community
langchain-groq
