pip>=24.0
wheel>=0.38.4
setuptools>=67.0
PyPDF2>=3.0.0
langchain>=0.1.0
pysqlite3-binary>=0.5.2  # Ensures SQLite3 is up-to-date
sqlite3 >= 3.35.0  # Ensures SQLite3 is up-to-date
chromadb>=0.4.0
langchain-huggingface
streamlit>=1.20
groq
langchain-community
langchain-groq
